
.main-area{
    background: #6D6262;
    padding: 10px;
}
.calendar-header{
    height: 50px;
    background: #490A64;
    text-align: center;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #5e0031;
}
.col-md{
    background: white;
    border: 1px solid black;
}
.out-of-month{
    background-color: gray;
}
h4 ~ p a {
    text-decoration: none;
    color: #4f67a9;
}
.results{
    display:none;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    list-style:none;
    background: white
}
